.hero.is-medium {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  z-index: 0;
}

.carousel-item.is-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1.05); /* Efecto de ligero zoom para la imagen activa */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(
    70%
  ); /* Oscurece ligeramente la imagen para que el texto resalte */
}

.hero-body {
  position: relative;
  z-index: 2;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade sombra al texto para mejor legibilidad */
}

.container {
  text-align: center;
}

.carousel-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.carousel-dots .dot {
  height: 12px;
  width: 12px;
  margin: 0 7px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease, transform 0.3s ease;
  cursor: pointer;
}

.carousel-dots .dot.is-active {
  background-color: #cf142b;
  transform: scale(1.2); /* Agranda el dot activo para destacarlo */
}
