.programa-estudio {
  padding: 3rem 1.5rem;
  background-color: #f9f9f9;
}

.programa-estudio .title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.programa-info ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  line-height: 1.6;
  font-size: 1.125rem;
  text-align: justify;
}

.programa-material .material-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.material-item {
  text-align: center;
  max-width: 200px;
}

.image-container {
  width: 128px;
  height: 128px;
  margin: 0 auto 0.1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.programa-material p {
  font-size: 1rem;
  color: #555;
}
