.section.about-us {
  padding: 3rem 1.5rem;
  background-color: #f5f5f5; /* Fondo gris claro */
}

.section.about-us .title {
  color: #00247d; /* Azul oscuro */
  margin-bottom: 1rem;
}

.section.about-us .content {
  color: #00247d; /* Color azul medio */
  line-height: 1.6;
  font-size: 1.125rem; /* Tamaño de fuente más grande */
  list-style-type: disc;
  list-style-position: outside; /* Las viñetas estarán fuera del texto */
  padding-left: 1.5rem; /* Espacio antes de las viñetas */
  text-align: justify; /* Justifica texto */
}

.section.about-us .image {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra suave a la imagen */
}

.section.about-us .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
